<% layout("/layouts/boilerplate") %>
    <%=success%>

<body>
    <h3>All Listings here</h3>
    <!-- <form method="get" action="/listings/new">
        <button>Add new Hotel</button>
    </form> -->

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">


        <% for(let listing of alllistings){ %>
            


    <div class="card lis-card col" >

<a href="/listings/<%=listing.id%>" class="listing-link">

  <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem;">

  <div class="card-img-overlay"></div>
  <div class="card-body">
    <h5 class="card-title"><%=listing.title %></h5>
    <p class="card-text">&#8377; <%=listing.price.toLocaleString("en-IN")%> / night</p>
    
  </div>

</a>

</div>



<% } %>


    </div>




    
</body>

