<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showing info of each id</title>
</head>
<body>
    <h2>Listing details</h2>
    <ul>
        <li><%=Listing.title%></li>
        <li><%=Listing.description%></li>
        <li> &#8377; <%=Listing.price.toLocaleString("en-IN")%></li>
        <li><%=Listing.location%></li>
        <li><%=Listing.country%></li>
        
    </ul>
</body>
</html>